@import './components/Profile/Profile.module.css';
@import './components/Statistics/Statistics.module.css';

body {
  margin: 0;
  background-color: aqua;
  font-family: Arial, Helvetica, sans-serif;
}
